{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block object-tools-items %}
<li>
  {% comment %} error: no link rendered {% endcomment %}
  {% url opts|admin_urlname:'auth_user_export' original.pk|admin_urlquote as export_url %}    
  <a href="{% add_preserved_filters export_url %}" class="historylink">{% trans "Export to Community" %}</a>
</li>
  
{{ block.super }}
{% endblock %}

{% comment %} 
if url == 'http://127.0.0.1:8000/admin/auth/user/1/export/'
Error: NoReverseMatch at /admin/auth/user/1/export/
Reverse for 'app_list' with keyword arguments '{'app_label': ''}' not found. 1 pattern(s) tried: ['admin/(?P<app_label>auth|sharing_configs)/$']
admin/ ^(?P<app_label>auth|sharing_configs)/$ [name='app_list']
  {% endcomment %}